<a href="https://colab.research.google.com/github/morshedik/Cancer-Classification-Project/blob/main/ML_Project1_BulkRNA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Upload the file to the Colab

In [16]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [22]:
!ls "/content/drive/My Drive/Colab Notebooks/TCGA_Data"

EB++AdjustPANCAN_IlluminaHiSeq_RNASeqV2.geneExp.xena  TCGA_phenotype_denseDataOnlyDownload.tsv

In [26]:
import pandas as pd

# Load the RNA-seq data (adjust path as needed)
rnaseq_path = '/content/drive/My Drive/Colab Notebooks/TCGA_Data/EB++AdjustPANCAN_IlluminaHiSeq_RNASeqV2.geneExp.xena'
data = pd.read_csv(rnaseq_path, sep='\t')

# Load the metadata (adjust path or filename as needed)
metadata_path = '/content/drive/My Drive/Colab Notebooks/TCGA_Data/TCGA_phenotype_denseDataOnlyDownload.tsv'
metadata = pd.read_csv(metadata_path, sep='\t')

# Check the first few rows of both
print("RNA-seq Data:")
print(data.head())
print("Metadata:")
print(metadata.head())

RNA-seq Data:
      sample  TCGA-OR-A5J1-01  TCGA-OR-A5J2-01  TCGA-OR-A5J3-01  \
0  100130426             0.00             0.00             0.00
1  100133144             2.09             1.88             1.45
2  100134869             2.30             3.32             2.92
3      10357             7.23             6.36             6.45
4      10431            10.99            10.35            10.04

   TCGA-OR-A5J5-01  TCGA-OR-A5J6-01  TCGA-OR-A5J7-01  TCGA-OR-A5J8-01  \
0             0.00             0.00             0.00             0.00
1             0.00             0.00             1.12             1.29
2             1.35             2.45             2.82             1.72
3             5.78             6.09             6.71             6.58
4            11.20            10.30            10.87             9.96

   TCGA-OR-A5J9-01  TCGA-OR-A5JA-01  ...  TCGA-CG-4449-01  TCGA-CG-4462-01  \
0             0.00             0.00  ...              NaN              NaN
1             0.00             2.45  ...             2.42             2.74
2             1.24             2.60  ...             1.87             2.12
3             6.31             6.13  ...             9.31             8.20
4            10.78            10.25  ...            10.23             9.33

   TCGA-CG-4465-01  TCGA-CG-4466-01  TCGA-CG-4469-01  TCGA-CG-4472-01  \
0              NaN              NaN              NaN              NaN
1             2.64             3.99             4.40             3.00
2             1.78             2.60             3.66             3.87
3             9.43             9.14            10.02             9.32
4            10.21             9.38             9.34            10.34

   TCGA-CG-4474-01  TCGA-CG-4475-01  TCGA-CG-4476-01  TCGA-CG-4477-01
0              NaN              NaN              NaN              NaN
1             4.27             3.71             4.29             4.24
2             3.07             3.65             3.64             3.99
3             9.54             8.99             9.48             9.46
4            10.17            10.43             9.93            10.76

[5 rows x 11070 columns]
Metadata:
            sample  sample_type_id            sample_type  \
0  TCGA-D3-A1QA-07             7.0  Additional Metastatic
1  TCGA-DE-A4MD-06             6.0             Metastatic
2  TCGA-J8-A3O2-06             6.0             Metastatic
3  TCGA-J8-A3YH-06             6.0             Metastatic
4  TCGA-EM-A2P1-06             6.0             Metastatic

          _primary_disease
0  skin cutaneous melanoma
1        thyroid carcinoma
2        thyroid carcinoma
3        thyroid carcinoma
4        thyroid carcinoma

**Merge metadata with data**

In [28]:
# Set the gene names as the index and transpose
data = data.set_index('sample')  # Assuming the first column is 'gene'
data = data.T  # Transpose so samples are rows

# Reset index to make sample IDs a column
data = data.reset_index().rename(columns={'index': 'sample'})

# Merge with metadata
merged_data = pd.merge(data, metadata, on='sample', how='inner')

# Check the merged data
print("Merged Data:")
print(merged_data.head())

Merged Data:
            sample  100130426  100133144  100134869  10357  10431  136542  \
0  TCGA-OR-A5J1-01        0.0       2.09       2.30   7.23  10.99     0.0
1  TCGA-OR-A5J2-01        0.0       1.88       3.32   6.36  10.35     0.0
2  TCGA-OR-A5J3-01        0.0       1.45       2.92   6.45  10.04     0.0
3  TCGA-OR-A5J5-01        0.0       0.00       1.35   5.78  11.20     0.0
4  TCGA-OR-A5J6-01        0.0       0.00       2.45   6.09  10.30     0.0

   155060  26823  280660  ...  ZXDB   ZXDC  ZYG11A  ZYG11B    ZYX  ZZEF1  \
0    8.10   1.29     0.0  ...  8.46  10.04    0.57    9.34  10.85  10.18
1    7.65   0.00     0.0  ...  8.13  11.54    5.02   10.19  11.58  10.89
2    8.45   0.67     0.0  ...  8.96   9.84    0.67    9.66  11.38  10.53
3    8.78   0.83     0.0  ...  7.69   9.80    3.66    9.12  11.21  10.16
4    7.23   0.00     0.0  ...  6.89   9.81    3.14    9.64   9.47   9.64

   ZZZ3  sample_type_id    sample_type       _primary_disease
0  9.22             1.0  Primary Tumor  adrenocortical cancer
1  9.65             1.0  Primary Tumor  adrenocortical cancer
2  8.78             1.0  Primary Tumor  adrenocortical cancer
3  9.01             1.0  Primary Tumor  adrenocortical cancer
4  8.90             1.0  Primary Tumor  adrenocortical cancer

[5 rows x 20535 columns]

In [34]:
# prompt: find information of this TCGA-EE-A29N-06 in the merged_data
#make sure merging is correct

# Assuming merged_data is already created as in the previous code

# Find information for TCGA-EM-A2CS-06
sample_info = merged_data[merged_data['sample'] == 'TCGA-EE-A29N-06']

# Print the information
sample_info

,sample,100130426,100133144,100134869,10357,10431,136542,155060,26823,280660,...,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,sample_type_id,sample_type,_primary_disease
973,TCGA-EE-A29N-06,0.0,3.05,3.18,7.15,9.72,0.0,7.91,0.87,4.5,...,8.37,9.62,1.55,9.51,12.15,10.71,9.96,6.0,Metastatic,skin cutaneous melanoma

# Explore the Data

In [36]:
# Number of rows and columns
print("Shape:", merged_data.shape)  # Expect ~20,000 rows (genes) x 11,061 columns (samples + gene names)

# Column names (sample IDs and gene names)
print("Columns:", merged_data.columns)

# First few rows
print(merged_data.head())

# Replace 'primary_disease' with the actual column name
print("Unique Cancer Types:")
print(merged_data['_primary_disease'].unique())

Shape: (11060, 20535)
Columns: Index(['sample', '100130426', '100133144', '100134869', '10357', '10431',
       '136542', '155060', '26823', '280660',
       ...
       'ZXDB', 'ZXDC', 'ZYG11A', 'ZYG11B', 'ZYX', 'ZZEF1', 'ZZZ3',
       'sample_type_id', 'sample_type', '_primary_disease'],
      dtype='object', length=20535)
            sample  100130426  100133144  100134869  10357  10431  136542  \
0  TCGA-OR-A5J1-01        0.0       2.09       2.30   7.23  10.99     0.0
1  TCGA-OR-A5J2-01        0.0       1.88       3.32   6.36  10.35     0.0
2  TCGA-OR-A5J3-01        0.0       1.45       2.92   6.45  10.04     0.0
3  TCGA-OR-A5J5-01        0.0       0.00       1.35   5.78  11.20     0.0
4  TCGA-OR-A5J6-01        0.0       0.00       2.45   6.09  10.30     0.0

   155060  26823  280660  ...  ZXDB   ZXDC  ZYG11A  ZYG11B    ZYX  ZZEF1  \
0    8.10   1.29     0.0  ...  8.46  10.04    0.57    9.34  10.85  10.18
1    7.65   0.00     0.0  ...  8.13  11.54    5.02   10.19  11.58  10.89
2    8.45   0.67     0.0  ...  8.96   9.84    0.67    9.66  11.38  10.53
3    8.78   0.83     0.0  ...  7.69   9.80    3.66    9.12  11.21  10.16
4    7.23   0.00     0.0  ...  6.89   9.81    3.14    9.64   9.47   9.64

   ZZZ3  sample_type_id    sample_type       _primary_disease
0  9.22             1.0  Primary Tumor  adrenocortical cancer
1  9.65             1.0  Primary Tumor  adrenocortical cancer
2  8.78             1.0  Primary Tumor  adrenocortical cancer
3  9.01             1.0  Primary Tumor  adrenocortical cancer
4  8.90             1.0  Primary Tumor  adrenocortical cancer

[5 rows x 20535 columns]
Unique Cancer Types:
['adrenocortical cancer' 'bladder urothelial carcinoma'
 'diffuse large B-cell lymphoma' 'uterine corpus endometrioid carcinoma'
 'skin cutaneous melanoma' 'head & neck squamous cell carcinoma'
 'prostate adenocarcinoma' 'kidney papillary cell carcinoma'
 'pancreatic adenocarcinoma' 'sarcoma' 'cervical & endocervical cancer'
 'colon adenocarcinoma' 'lung squamous cell carcinoma'
 'rectum adenocarcinoma' 'kidney clear cell carcinoma'
 'liver hepatocellular carcinoma' 'breast invasive carcinoma'
 'ovarian serous cystadenocarcinoma' 'uterine carcinosarcoma'
 'glioblastoma multiforme' 'kidney chromophobe' 'thyroid carcinoma'
 'brain lower grade glioma' 'lung adenocarcinoma' 'mesothelioma'
 'pheochromocytoma & paraganglioma' 'testicular germ cell tumor'
 'uveal melanoma' 'thymoma' 'cholangiocarcinoma' 'esophageal carcinoma'
 'stomach adenocarcinoma' 'acute myeloid leukemia']